body 
{
    margin: 0;
    padding: 0;
    background-image: url("https://gray-wcsc-prod.cdn.arcpublishing.com/resizer/LlhyZkBuw-xoH3FIcQ8gX6EzIxE=/980x0/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/gray/A2TH2EN5CBDVXJRAADJX6H33YM.gif");
    background-size: 100%;
    /*background: rgb(2,0,36);*/
    /*background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%);*/
    /*background-color: rgb(23, 23, 26);*/
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}


.container_main
{
    visibility: hidden;
    background-color: rgba(0,0,0,0);
    width: 300px;
    height: 175px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container_init
{
    background-color: rgba(0,0,0,0);
    width: 300px;
    height: 175px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container_main ul
{
    color: rgb(255,255,255);
    list-style: none;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    user-select: none;
}

.container_main a[href] 
{
    color: #fff;
    text-decoration: none;
    font-family: monospace;
    font-size: 13px;
    padding: 5px;
    user-select: none;
}

.container_main a[href]:hover
{
    color: rgb(190, 111, 247);
    text-decoration: underline;
    font-family: monospace;
    font-size: 13px;
    padding: 5px;
}

.container_main img
{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    filter: brightness(10%) sepia(1) saturate(100) hue-rotate(275deg) drop-shadow(0 0 10px #cd8efa);
    position: relative;
    user-select: none;
}

.title, .title:link, .title:active, .title:visited
{
    color: rgb(195, 118, 250) !important;
    font-family: monospace;
    font-style: normal;
    font-size: 17px;
    text-shadow: 0 0 8px #c384f0;
    user-select: none;
}

.box 
{
    background: rgb(8,8,8);
    width: 300px;
    height: 175px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180, 76, 255);
    background-color: rgb(8,8,13);
}

.box h1
{
    color: rgb(177, 71, 253);
    font-family: monospace;
    font-style: normal;
    font-weight: 5;
    font-size: 15px;
}

.box input[type="text"], .box input[type="password"], .box input[type="submit"]
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(188, 113, 241);
    background-color: rgb(15,15,15);
    font-family: monospace;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color:#fff;
    display: block;
    margin: 10px auto;
    width: 200px;
    box-sizing: border-box;
}

.box input[type="text"]:focus, .box input[type="password"]:focus
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(195, 111, 255);
    background-color: rgb(15,15,15);
    font-family: monospace;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color:#fff;
    display: block;
    margin: 10px auto;
    width: 200px;
    outline-width: 0;
    box-sizing: border-box;
}

.entryimg {
    transition: transform 0.4s;
}

.entryimg:hover {
        transform: scale(1.5);
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212121; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /*originally #555*/
    background: rgb(113, 69, 145); 
  }

.buynoww {
        background-color: rgb(188, 113, 241); /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            border-radius: .75rem;
            width: 9rem;
            font-weight: 700;
            transition: 0.3s;
}

.discord:hover {opacity: 0.7}

nav{
    width: 84%;
    margin: auto;
    position: relative;
    top: 1.5cm;
    text-align: center;
    justify-content: space-between;
    font-family: 'Archivo Black', sans-serif;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color:rgb(190, 255, 222);
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    
}

nav ul li a:hover{
    font-size: larger;
    color: rgb(188, 113, 241);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.detels{
    margin-left: 8%;
    margin-top: 13%;
}

.detels h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

.purpletag {
    color: rgb(188, 113, 241);
}

.detels p{
    color: rgb(255, 255, 255);
    line-height: 22px;
}

#buynow {
    background: rgb(188, 113, 241);
    background-image: url(https://cdn.discordapp.com/attachments/1093619518351364157/1093704441326227466/Untitled.png);
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 2.25em;
    width: 10%;
}

#discord {
    background-color: #444dc5;
    border: none;
    color: white;
    /*padding: 14px 17px;*/
    padding: 14px 17px;
    text-align: center;
    height:3.25em;
    width: 50px;
    font-size: 12px;
    border-radius: .5rem;
    font-weight: 700;
    transition: 0.3s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /**/
    background-image: url(https://media.discordapp.net/attachments/992643364224782386/1039626127427260497/625e5fcef7ab80b8c1fe559e_Discord-Logo-Color2.png?width=192&height=216);
}

.listblock { 
    border: 2px solid black;
    border-color: #c280e0;
    background: rgb(188, 113, 241);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.detels a:hover{
    opacity: 0.7;
}

.images{
    width: 35%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 100px ;
}

#homeimage{
    height: 80%;
    position: absolute;
    left: 65%;
    bottom: 120;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    border-radius: 1100px;
}

.icon-logo {
    height: 4.5%;
    position: absolute;
    margin: 30 20 20px;
    border-radius: 1100px;
}

.images img:hover{
    left: 45%;
}